
<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">
  <div class="contener">
    <h1>Movies Lists</h1>
  </div>
</div>

<div class="card_movies">
  <% @lists.each do |list| %>
    <div class="card-movies-infos" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
      <%= link_to list.name, list_path(list), :class => "text-card" %>
    </div>
  <% end %>
</div>
