<h1>Movies Lists</h1>



<% @lists.each do |list| %>
  <%= link_to list.name, list_path(list) %>
<% end %>
<br>
<%= link_to 'Create a List', new_list_path(@list) %>

<div class="background">
  <h2>Hero Section</h2>
  <h4>It's easy to set background image with Torus Kit</h4>
  <%= image_tag "background image.PNG", alt: "Le Wagon", :class => "bg-img" %>
</div>